body {
  background-color: #1a1515;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #00681a;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
}
